label.print{
  font-style: italic;
  font-weight: bold;
}

.navbar-brand, .navbar-nav, .navbar-nav>li {
  float:none !important;
}

.navbar{
  float: none !important;
}

.navbar-nav {
  display:flex;
}

.navbar-nav>li {
  flex: 1;
}

#chefHat {
  vertical-align: right;
  margin-right: 0px;
  margin-left: auto;
  justify-content: right;
  width: 15rem;
  height: auto;
}