{% extends 'base.html' %}

{% block title %} About The Good Recipes {% endblock %}
{% block pageDescription %}
<meta name="description" content="Login to 'The Good Recipes' Application" />
{% endblock %}

{% block body %}

<h1>About The Good Recipes</h1>
<hr>
<div class="container-sm">
    <p>The Good Recipes was started as a project with a simple goal in mind.
        That goal is to offer inexpensive, quick, and easy to make recipes to busy individuals throughout the world.
        These recipes are created by me and are come up with pretty much from the top of my head.
        I hope you enjoy and find something that you like!
    </p>
</div>
{% endblock %}