{% extends 'base.html' %}

{% block title %} The Good Recipes Error Page {% endblock %}
{% block pageDescription %} 
    <meta name="description" 
    content="You have encountered an error in the application" />
{% endblock %}

{% block body %}

<h2>Oops! The application encountered an error. Administration is working to fix this now.</h2>
<div class="container">
    <img src="/static/dabbingTaco.png" alt="Taco doing the 'dab' dance" style="display: block;
    margin-left: auto;
    margin-right: auto; width: 500px; height: auto;" >
</div>
{% endblock %}