{% extends 'base.html' %}

{% block title %} The Good Recipes Error Page {% endblock %}
{% block pageDescription %} 
    <meta name="description" 
    content="Registration Request" />
{% endblock %}

{% block body %}

<h2>To request an account contact bennett@bennett.com to proceed</h2>
<div class="container">
    <img src="/static/dabbingTaco.png" alt="Taco doing the 'dab' dance" style="display: block;
    margin-left: auto;
    margin-right: auto; width: 500px; height: auto;" >
</div>
{% endblock %}